body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}


html, body {
  overflow-x: hidden;
  width: 100%;
}

* {
  box-sizing: border-box;
}

.hero-banner,
.product-slider,
.blogs,
.newsletter,
.footer {
  max-width: 100vw;
  overflow-x: hidden;
}



.icons span {
  margin-left: 1rem;
  cursor: pointer;
}

