body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  /* overflow-x: hidden; */
  background: #ffffff !important;
}

* {
  box-sizing: border-box;
}

.hero-banner,
.product-slider,
.blogs,
.newsletter,
.footer {
  max-width: 100vw;
  overflow-x: hidden;
}

/* VERY IMPORTANT FIX */
body, html, #root {
  overflow: visible !important;
}

/* Toast CSS */
#toast-container {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 999999 !important;
  pointer-events: none;
}

.toast {
  background: #333;
  color: #fff;
  padding: 12px 20px;
  border-radius: 8px;
  margin-top: 10px;
  animation: slideUp 0.3s ease, fadeOut 0.4s ease 2.5s forwards;
  z-index: 999999 !important;
  position: relative;
}

@keyframes slideUp {
  from { transform: translateY(20px); opacity: 0; }
  to { transform: translateY(0); opacity: 1; }
}

@keyframes fadeOut {
  to { opacity: 0; transform: translateY(20px); }
}

.icons span {
  margin-left: 1rem;
  cursor: pointer;
}
