/* Background */
.signup-container {
  min-height: 100vh;
  background: linear-gradient(135deg, #fdfbfb, #ebedee);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

/* Card */
.signup-box {
  background: white;
  padding: 2.8rem;
  width: 100%;
  max-width: 400px;
  border-radius: 16px;
  text-align: center;
}

/* Inputs */
.signup-box input {
  width: 100%;
  padding: 0.95rem;
  border-radius: 10px;
  border: 1px solid #ccc;
  margin-bottom: 1rem;
  font-size: 1rem;
}

/* Password Wrapper */
.password-wrapper {
  position: relative;
}

.password-wrapper input {
  padding-right: 48px;
}

/* Eye Icon */
.eye-icon {
  position: absolute;
  right: 14px;
  top: 50%;
  transform: translateY(-52%);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Button */
.signup-btn {
  width: 100%;
  padding: 0.95rem;
  border-radius: 10px;
  border: none;
  background: #073b4c;
  color: white;
  font-weight: 600;
  cursor: pointer;
}

/* Redirect */
.redirect-text {
  margin-top: 18px;
}

.redirect-text span {
  color: #ef476f;
  cursor: pointer;
  font-weight: 600;
}
